{
  "index_patterns": ["ceph*", "openstack*", "server_log*"],
  "template": "smartcloud2022",
  "version": 1,
  "settings": {
    "index.refresh_interval": "1s",
    "index.number_of_replicas": "0"
  },
  "mappings": {
      "dynamic": false,
      "properties": {
        "@timestamp": {
          "type": "date"
        },
        "@version": {
          "type": "text",
          "fields": {
            "keyword": {
              "type": "keyword",
              "ignore_above": 256
            }
          }
        },
        "date": {
          "type": "text",
          "fields": {
            "keyword": {
              "type": "keyword",
              "ignore_above": 256
            }
          }
        },
        "host": {
          "type": "text",
          "fields": {
            "keyword": {
              "type": "keyword",
              "ignore_above": 256
            }
          }
        },
        "sourceip": {
          "type": "text",
          "fields": {
            "keyword": {
              "type": "keyword",
              "ignore_above": 256
            }
          }
        }
      }
  },
  "aliases": {
    "smartcloud_2022": {}
  }
}










PUT _slm/policy/openstack-snapshots
{
  "name": "<openstack-snapshots-{now/d}>",
  "schedule": "0 0 0 * * ?",
  "repository": "snapshot",
  "config": {},
  "retention": {
    "expire_after": "31d",
    "min_count": 3,
    "max_count": 31
  }
}








