{
    "name": "{{ server_name }}",
    "params":  {
        "hosts": ["https://{{ IP_Public }}:{{ ES_PORT }}"],
        "http_auth": ["{{ elastic_user }}", "{{ elastic_password }}"],
        "scheme": "https",
        "port": "{{ ES_PORT }}"
    }
}