---
## Default Logstash configuration from Logstash base image.
## https://github.com/elastic/logstash/blob/master/docker/data/logstash/config/logstash-full.yml
#
http.host: 0.0.0.0
xpack.monitoring.elasticsearch.hosts: [ "https://{{ IP_Public }}:{{ ES_PORT }}" ]
path.config: {{ logstash_conf_dir }}/pipeline
## X-Pack security credentials
#
xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch.username: {{ elastic_user }}
xpack.monitoring.elasticsearch.password: {{ elastic_password }}
