clouds:
 smartcloud_ops.ntl3:
   region_name: Hanoi
   identity_api_version: 3
   identity_interface: internal
   auth:
     username: "{{ username }}"
     password: "{{ password }}"
     project_name: admin
     project_domain_name: 'default'
     project_domain_id: 'default'
     user_domain_name: 'default'
     auth_url: "{{ authentication_endpoint }}"
   verify: False
 smartcloud_ops.tt3:
   region_name: Hanoi
   identity_api_version: 3
   identity_interface: internal
   auth:
     username: "{{ username }}"
     password: "{{ password }}"
     project_name: admin
     project_domain_name: 'default'
     project_domain_id: 'default'
     user_domain_name: 'default'
     auth_url: "{{ authentication_endpoint }}"
   verify: False