clouds:
 ops.lab:
   region_name: Hanoi
   identity_api_version: 3
   identity_interface: internal
   auth:
     username: admin
     password: MbS8qtvyr0XlNBVLKImER2L0twyYGMOZize9tM63
     project_name: admin
     project_domain_name: 'Default'
     project_domain_id: 'default'
     user_domain_name: 'default'
     auth_url: http://192.168.30.50:35357/v3
   verify: False