filebeat.inputs:
- type: log
  enabled: {{ filebeat_input_enabled }}
  paths:
    - {{ logging_path_container }}/*log
  tags: ["server_log"]

- type: log
  enabled: true
  paths:
    - {{ logging_path_container }}/kolla/*/*log
  tags: ["openstack"]

- type: log
  enabled: true
  paths:
    - {{ logging_path_container }}/ceph/cephadm.log*
    - {{ logging_path_container }}/ceph/*/*log
  tags: ["ceph"]

filebeat.config:
  modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: {{ reload_enabled }}
    reload.period: {{ reload_period }}

setup.template.settings:
  index.number_of_shards: {{ number_of_shards }}
  index.codec: {{ index_codec }}
  #_source.enabled: false


processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~


output.logstash:
  # The Logstash hosts
  hosts: ["{{ IP_Public }}:{{ logstash_port }}"]

  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  # ssl.certificate_authorities: ["/etc/cert/ca.crt"]

  # Certificate for SSL client authentication
   #ssl.certificate: "etc/cert/elasticsearch.crt"

  # Client Certificate Key
  # ssl.key: "etc/cert/elasticsearch.key"

#================================ Logging =====================================

# Sets log level. The default log level is info.
# Available log levels are: error, warning, info, debug
logging.level: {{ logging_level }}

# At debug level, you can selectively enable logging only for some components.
# To enable all selectors use ["*"]. Examples of other selectors are "beat",
# "publish", "service".
logging.selectors: ["*"]

logging.to_files: {{ logging_to_files}}
logging.files:
  path: {{ logging_path_container }}
  name: {{ logging_file_name }}
  keepfiles: {{ logging_keepfiles }}
  permissions: {{ logging_file_permissions }}

#================================= Migration ==================================

# This allows to enable 6.7 migration aliases
#migration.6_to_7.enabled: true

http.enabled: {{ http_enabled }}
http.port: {{ http_port }}