# Config global
global:
# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - {{ IP_monlog }}:{{ alertmanagers_port }}

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - "{{ Prometheus_conf_container }}/rules/alert_node.yml"
  - "{{ Prometheus_conf_container }}/rules/alert_libvirt.yml"
  - "{{ Prometheus_conf_container }}/rules/alert_ceph.yml"
  - "{{ Prometheus_conf_container }}/rules/alert_ops.yml"
